# Sistema Operativo y Herramientas
.DS_Store
Thumbs.db
desktop.ini
._*
.Trashes
.direnv/
layout_python/

# Directorios de Build y artefactos de C/C++
build/
bin/
dist/
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.venv
*.egg-info/
*.egg
.pytest_cache/
.coverage

# Helix-config
.helix/
compile_flags.txt
.ignore
